<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Uliana Boikova">
        <title>Title</title>
        <link rel="stylesheet" href="css/main.css">
        <style>
        </style>
    </head>
    <body>
        <div id="first1" class="block1"></div>
        <div id="second2" class="block1"></div>

        <div class="block">
            <p>Simple text</p>
        </div>
        <span class="block">Simple</span>

        <p class="textNew">Some big text</p>
        <div id="first"></div>
        <div id="second"></div>
        <form action="" method="post">
            <label for="user_name">Enter name</label>
            <input type="text" placeholder="Your name" value="something" name="user_name" id="user_name">

            <label for="imageName">Enter name</label>
            <input type="file" id="imageName" name="imageName">
        </form>



        <div>Just <span>text </span>text</div>
        <table class="main-text" border="1" width="500px">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody align="center">
                <tr>
                    <td>John</td>
                    <td>Dale</td>
                </tr>
                <tr>
                    <td>John1</td>
                    <td>Dale</td>
                </tr>
                <tr>
                    <td>John2</td>
                    <td>Dale</td>
                </tr>
                <tr>
                    <td>John3</td>
                    <td>Dale</td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>Last</td>
                <td>line</td>
            </tr>
            </tfoot>
        </table>
        <a href="#bottomOfPage">Go down</a>
        <!-- comment -->
        <h1>Main</h1>
        <h2>Main</h2>
        <h3>Main</h3>
        <h4>Main<big>Big</big></h4>
        <h5>Main<small>small</small></h5>
        <h6>Main</h6>




        <p>Text</p>
        <p>New <b>Text</b></p>
        <p>New <i>Text Cursive</i></p>
        <hr>
        <p>New <strike>My text strike</strike></p>
        <hr>
        <p>H<sub>2</sub>O</p>
        <a name="bottomOfPage"></a>
        <p>a<sup>2</sup></p>
        <abbr title="Personal Computer">PC</abbr>
        <address id="user">Seattle, US</address>
        <ol start="7" type="a">
            <li>First</li>
            <li>Second</li>
            <li>Thrird</li>
        </ol>

        <ul type="square">
            <li>First</li>
            <li>Second</li>
            <li>Thrird</li>
        </ul>
        <p class="text" title="Something"> Some Text</p>
        <a href="https://google.com" title="Press me" target="_blank">Go to google</a><br>
        <a href="mailto:anboikova03@gmail.com" title="Press me" target="_blank">Mail</a><br>
        <a class="main-link" href="/blog" title="Press me" target="_blank">Go to us</a>
        <div>
            <p>Lorem jfa;jaklj <b>kfjslfka;owe</b>  jkkdlsjhfieifhc hfdshfuygjhwebds <i>fsahgjajegwhjgd</i>
                dsfjhgawfuwyegfjhhgjagfsuz</p>
        </div>

        <div id="some_id">Some text lalalala</div>

    </body>
</html>