<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<body>
<h2>Вход</h2>
<form action="/enter" method="post">
    <label for="firstName">Имя:</label>
    <input type="text" id="firstName" name="firstName" required><br><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Войти</button>
</form>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>
</body>

</body>
</html>