<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Add article</h1>
    <form action="/register" method="post">
        <input class="input-text" type="firstName" name="firstName" placeholder="Enter the title of the article"><br>
        <input class="input-text" type="secondName" name="secondName" placeholder="Enter a blurb for the article"><br>
        <input class="input-text" type="password" name="password" placeholder="Enter a blurb for the article"><br>
        <button type="submit" class="button"><p class="button-text">Add user</p></button>
    </form>
</div>

</body>
</html>