@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
p.text:not(empty)::after {
    content: '123';
    background-color: green;
}
* {
    margin: 0;
    padding: 0;
}

.block1 {
    width: 200px;
    height: 200px;
    margin: 20px;
    background: yellow;
}

#first1 {
    float: right;
}

#second2 {
    float: left;
    background: blue;
}


.block {
    background: red;
    height: 200px;
    width: 400px;
    border: 5px dashed silver;
    border-bottom: 0;
    border-top-style: double;
    border-radius: 15px 30% 50px 40px;
    opacity: 0.25;
    margin-top: 150px;
    margin-left: 50px;
    padding: 50px 50px;
    display: block;
}

#first {
    background-color: #97fcef;
    color: green;
    background-image: url('https://media.cntraveler.com/photos/5eb18e42fc043ed5d9779733/1:1/w_2866,h_2866,c_limit/BlackForest-Germany-GettyImages-147180370.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

.textNew {
    color: #000;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    font-family:  "Sigmar", serif;
    text-transform: capitalize;
    word-spacing: 30px;
    letter-spacing: 20px;
    line-height: 100px;
}

#second {
    height: 2000px;
}

body {

}

p.text:not(empty) {
    color: purple;
}
.main-text {
    color: red;
}
#user {
    color: blue;
}
div b, i {
    color: green
}
.main-link:hover {
    color: blue;
    text-decoration: underline;
    text-decoration-color: red;
}
.main-link:active {
    text-decoration: line-trough;
}
input {
    color: blue;
}

input:focus {
    color: red;
}
#some_id::after {
    content: '123';
    background-color: green;
}
